.App {
  background-image: url('./img/BackLeft.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 50%;
  animation-delay: 0s;
  animation-duration: 30s;
  animation-name: panoramic;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes panoramic {
  0% {
    background-position-y: 0%;
  }

  50% {
    background-position-y: 100%;
  }

  100% {
    background-position-y: 0%;
  }
}


.text-fun-pink:hover {
  color: #55acee;
  transform: scale(2, 3);
  font-size: 18px;
}
.Mycard { background-color: rgba(245, 245, 245, 0.4); }


.IconService{
  font-size: 72px;
  color: #2e71d5;
  margin-top: 5% ;
}

.object-fit{
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Mycontainer {
  position: relative;
  text-align: center;
  color: white;
}

.MyShadow {
  box-shadow: 17px 20px 5px 0px rgba(46,113,213,0.51);
  -webkit-box-shadow: 17px 20px 5px 0px rgba(46,113,213,0.51);
  -moz-box-shadow: 17px 20px 5px 0px rgba(46,113,213,0.51);
}


.shaked {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.GrandientBG{
  background-image: url('./img/gradient-2.jpg');
  background-size: cover;
 
}



/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}